* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body, input{
  font-family: 'Lato', sans-serif;
}

.header {
  background-color: #555;
  color: white;
}

div[class^="header__"] {
  text-align: center;
  line-height: 125px
}

.header__title {
  font-family: 'Caveat', cursive;
  font-size: 40px;
}

.searchbox {
  padding: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.searchbox__input {
  text-align: center;
  font-size: 1em;
  padding: 1em;
  width: 50%;
  outline: none;
  border: none;
}

.searchbox__button {
  padding: 1em;
  font-size: 1em;
  background-color: #aaa;
  border: none;
  outline: none;
  cursor: pointer;
}

.searchbox__button:active {
  font-size: 14px;
}

.loadingIndicator {
  padding: 200px 0;
  text-align: center;
}