html{
  box-sizing: border-box;
}

body{
  font-family: 'Verdana';
}

input{
  font-family: 'Verdana';
}

.header {
  height: 100px;
}

div[class^="header__"] {
  text-align: center;
  line-height: 125px
}

.header__title {
  font-size: 32px;
}

.searchbox {
  padding: 20px;
  text-align: center;
}

.searchbox__input {
  font-size: 1em;
  padding: 1em;
  width: 50%;
}

.searchbox__button {
  padding: 1em;
  font-size: 1em;
  background-color: #FFA000;
  border: 2px solid black;
  outline: none;
  cursor: pointer;
}

.searchbox__button:active {
  font-size: 14px;
}

.loadingIndicator {
  padding: 200px 0;
  text-align: center;
}